
// **** CONTACT

.contact {
    background: linear-gradient(105deg, rgba(21, 31, 32, 1) 0%, 
              rgba(21, 31, 32, .95) 50%, transparent 90%), 
                url("/icon/Contact.jpeg") center/cover;
                background-color: #000;
                
  }
  
  .input, .message {
    background: transparent;
    width: 40vh;
    border-color: transparent;
    border-bottom: 2px solid #ccc !important;
    border-radius: 0;
    transition: all .8s;
    color: #ddd;
  }
  
  .input:focus {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    color: #fff;
    border-bottom: 2px solid #f5593D !important;
  }
  
  .label {
    color: #888;
    display: block;
    margin-top: -70px;
    margin-left: 4px;
    font-size: 13px;
    transition: all .3s;
  }
  
  .input:placeholder-shown + .label {
    transform: translate(20px, 20px);
    opacity: 0;
    visibility: hidden;
  }
  
  .button-container {
    width: 40vh;
  }
  
  .sending-message {
    
    color: rgb(248, 207, 130);
  
    &-success {
      color: rgb(60, 212, 60);
    }
  
    &-failure {
      color: rgb(233, 109, 109);
    }
  }
  
  .blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {  
    50% { opacity: 0; }
  }