
// **** MUSICS

.musics {
    font-size: 10px;
    text-decoration:none;
  
    a {
      color: #cccccc;
      text-decoration: none;
    }
  }
  
  .background-music {
    background-color: rgb(63, 36, 17);
    padding-bottom: 3rem;
  }
  