// ***** PORTFOLIO DETAILS

.portfolio-detail-content {

    margin-bottom: 100px;
    
    &-img {
  
      &-left {
        float: left;
        margin-right: 20px;
     }
  
      &-right {
          float: right;
          margin-left: 20px;
      }
    }
  
    a {
  
      color: rgb(97, 208, 236);
      transition: all ease 0.3s;
  
      &:hover {
        color: white;
        text-decoration: none;
      }
    }
  }
  
  .portfolio-content-image {
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
    transition: all ease 0.4s;
    
    &-normal {
      
      width: 320px;
    }
  
    &-large {
      
      width: 450px;
      height: auto;
    }
  
  }