@import '_contact.scss';
@import '_navbar.scss';
@import '_author.scss';
@import '_portfolio-card.scss';
@import '_musics.scss';
@import '_portfolio-details.scss';

html, body {
    height: 100%;
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
    color: #dcdcdc !important;
    background-color: #4D4C58 !important;
}

strong {
  color: rgb(253, 189, 169);
  font-size: 1.07rem !important;
}

H5 {
  color: rgb(253, 189, 169);
  font-size: 1.3rem !important;
}

u {
  color: red;
}

// **** MEDIA QUERYS

@media screen and (max-width: 991px) {

  
    .navbar-item-spacing {
      margin-top: 4px;
    }

}

@media screen and (max-width: 668px) {


  .detail-portfolio-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
  }

  .portfolio-content-image {
    width: 250px;
  }
}

@media screen and (max-width: 450px) {

  strong {
    color: rgb(253, 189, 169);
    font-size: 1rem !important;
  }
  
  H5 {
    color: rgb(253, 189, 169);
    font-size: 1.1rem !important;
  }

  .detail-title {
    font-size: 1.7rem;
    justify-content: center;
  }

  .portfolio-detail-content {
    font-size: 1rem;
  }

  .portfolio-content-image {
    width: 190px;
  }
}

@media screen and (max-width: 350px) {
  
  .detail-title {
    font-size: 1.3rem;
  }

  .portfolio-detail-content {
    font-size: 0.8rem;
  }

  .portfolio-content-image {
    width: 150px;
  }
}

