html, body {
    height: 100%;
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
    color: #dcdcdc !important;
    background-color: #4D4C58 !important;
}

strong {
  color: rgb(253, 189, 169);
  font-size: 1.07rem !important;
}

H5 {
  color: rgb(253, 189, 169);
  font-size: 1.3rem !important;
}

u {
  color: red;
}

// ***** NAVBAR

.navbar-brand {
  padding-left: 15px;
}

.md-navbar {

    &-brand {
      color: black;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;

      a {
        color:#b9aaaa;
        font-weight: 700;
        text-decoration: none !important;
        transition: all ease 0.3s;

        &:hover {
            color: #cebfbf;
        }
      }
    }

    &-link {
      color: rgb(230, 207, 207);
      letter-spacing: 0.8px;
      font-size: 18px;
      text-decoration: none;
      transition: all ease 0.3s;

      &.active {
      color: #dba919;
      }

      &:hover, &:focus {
        color: #dba919;
      }
    }
  }

  .md-navbar.md-nav-base {
    width: 100%;
    padding: 20px 0px;

    .md-dropdown-menu {
  
        .md-dropdown-item {
          color: #4e4e4e;
    
          &.active {
            color: #dba919;
          }
        }
    
        .md-dropdown-toggle {
          color: white;
          margin-left: 10px;
          margin-right: 10px;
        }
      }
}

.md-navbar.md-nav-base.md-nav-default {
    padding: 30px;
    background-color: black !important;
}

.md-navbar-icon {

    transition: all ease 0.3s;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.navbar-background {
  background-color: rgba(8, 8, 8, 0.8);
}


// **** AUTHOR
  
.author-content-text {
    font-family: 'Nunito', sans-serif;
    background-color: rgba(49, 34, 34, 0.5);
    padding: 15px 30px 2px 30px !important;
    margin-bottom: 20px;
    margin-top: 20px;
}

.author-content-img {

    &-left {
        float: left;
        margin-right: 20px;
    }

    &-right {
        float: right;
        margin-left: 30px;
    }
}

// **** PORTFOLIOS CARD ITEM

.card.md-card {

  margin-bottom: 80px;
  background-color: transparent;

  .card-body-wrapper {
    height: 465px;
    background-color: #232129;
    border-radius: 15px;
    box-shadow: 2px 5px 25px rgba(0, 0, 0, .15);
    min-height: 280px;
    position: relative;
    z-index: 2;
    padding: 20px;
    padding-bottom: 40px;
    &.no-image {
      min-height: auto;
    }

    &-low-width {
      height: 495px; 
    }
  }

  .card-header {
    background-color: transparent;
    padding: 0px 0px 15px;
    img {
      --size: 45px;
      background-color: rgb(10, 7, 7);
      border: 1px solid #232129;
      border-radius: 50%;
      // box-shadow: 2px 5px 25px rgba(0, 0, 0, .15);
      // left: 10px;
      // position: absolute;
      top: calc(-1 * (var(--size) / 2));
      width: var(--size);
      height: var(--size);
      object-fit: cover;
      background-color: #232129;
    }
  }

  .card-title {
    font-size: 1rem;
    padding-left: 12px;
  }

  .card-text {
    font-size: 1.2rem;
    padding-left: 12px;
    color: rgb(231, 156, 156);

    &-title {
      font-family: 'Sansita', sans-serif;
    }

    &-subtitle {
      font-size: 1rem;
      color: rgb(207, 214, 214);
      font-family: 'Livvic', sans-serif;
    }
  }

  .card-main-title {
    font-size: 22px;
    height: 60px;
  }
}

.view.overlay {
  transition: all ease 0.4s;

  &:hover {
    transform: scale(1.03);
    cursor: pointer;
  }
}

.card-button {
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
  font-family: var(--font-family-primary);
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .15rem;
  padding-top: 1.5rem !important /* @TODO temp !!!*/;
  padding: .75rem 1.5rem;
  background-color: hsl(22, 93%, 60%);
  border-color: hsl(210, 5%, 36%);
  box-shadow: 0 5px 0 hsl(210, 5%, 20%);
  bottom: -45px;
  position: absolute;
  right: 1.5rem;
  transition: all ease 0.4s;

  &:hover {
    background-color: hsl(22, 79%, 50%);;
    border-color: hsl(210, 5%, 41%);
    -webkit-transform: translateY(.25rem);
    transform: translateY(.25rem);
  }
}

.section-title {
  font-family: 'El Messiri', sans-serif;
  font-size: 2rem;

  &-number {
    font-size: 1rem;
  }
}

.section-description {
  font-family: 'Livvic', sans-serif;
  color: rgb(248, 192, 145);
  margin-bottom: 2rem;
}

// **** MUSICS

.musics {
  font-size: 10px;
  text-decoration:none;

  a {
    color: #cccccc;
    text-decoration: none;
  }
}

.background-music {
  background-color: rgb(63, 36, 17);
  // background-image: url("/icon/studio.jpg");
  // background-size: cover;
  // background-attachment: fixed;
  //height: 100%;
  //overflow: hidden;

}

// ***** PORTFOLIO DETAIL

.detail-portfolio-header {
  margin-bottom: 30px;
  margin-top: 10px;
}

.detail-title {
  font-size: 2rem;
  font-family: 'Sansita', sans-serif;
  color: rgb(231, 156, 156);
}


.portfolio-detail-content {
  
  &-img {

    &-left {
      float: left;
      margin-right: 20px;
   }

    &-right {
        float: right;
        margin-left: 20px;
    }
  }

  a {

    color: rgb(97, 208, 236);
    transition: all ease 0.3s;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

.portfolio-content-image {
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
  transition: all ease 0.3s;
  
  &-normal {
    
    width: 320px;
  }

  &-large {
    
    width: 450px;
    height: auto;
  }

  // &:hover {
  //   transform: scale(1.02);
  // }
}

// **** MEDIA QUERYS

@media screen and (max-width: 991px) {

  
    .navbar-item-spacing {
      margin-top: 4px;
    }

}

@media screen and (max-width: 668px) {


  .detail-portfolio-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
  }

  .portfolio-content-image {
    width: 250px;
  }
}

@media screen and (max-width: 450px) {

  strong {
    color: rgb(253, 189, 169);
    font-size: 1rem !important;
  }
  
  H5 {
    color: rgb(253, 189, 169);
    font-size: 1.1rem !important;
  }

  .background-music {
    height: 370vh;
    background-color: rgb(41, 23, 12);
  
  }

  .detail-title {
    font-size: 1.7rem;
    justify-content: center;
  }

  .portfolio-detail-content {
    font-size: 1rem;
  }

  .portfolio-content-image {
    width: 190px;
  }
}

@media screen and (max-width: 350px) {

  .background-music {
    height: 450vh;
  
  }
  
  .detail-title {
    font-size: 1.3rem;
  }

  .portfolio-detail-content {
    font-size: 0.8rem;
  }

  .portfolio-content-image {
    width: 150px;
  }
}

